<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>记事本案例</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="new_note"><input type="button" value="添加记事本" @click="add_note();">
        <ul>
            <li v-for="item in arr">{{item}}</li>
        </ul>
        <input type="button" value="清楚所有笔记" @click="clear_notes();">
    </div>

    <!-- 引入 vue.js 脚本 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        const app = new Vue({
            // el属性，用于给 vue 实例定义作用域
            el : "#app",
            // data 属性，给vue实例定义相关数据
            data: {
                arr:["占位消息1","占位消息2"],
                new_note : ""
            },
            methods:{
                add_note(){
                    if(this.new_note != ""){
                        this.arr.push(this.new_note);
                        this.new_note = ""
                    }
                },
                clear_notes(){
                    this.arr = [];
                    this.new_note = "";
                }
            }
        });
    </script>
</body>
</html>